USE [master]
GO
/****** Object:  Database [viewer3d]    Script Date: 27.03.2023 3:38:21 ******/
CREATE DATABASE [viewer3d]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'viewer3d', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\viewer3d.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'viewer3d_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\viewer3d_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [viewer3d].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [viewer3d]
GO
/****** Object:  Table [dbo].[figures]    Script Date: 27.03.2023 3:38:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[figures](
	[id] [int] IDENTITY(100,1) NOT NULL,
	[typefigure_id] [int] NOT NULL,
	[cX] [float] NOT NULL,
	[cY] [float] NULL,
	[cZ] [float] NOT NULL,
	[color] [varchar](50) NOT NULL,
	[scene_id] [int] NOT NULL,
	[wdvalue] [float] NULL,
	[height] [float] NULL,
	[details] [int] NULL,
 CONSTRAINT [PK_figures] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scenes]    Script Date: 27.03.2023 3:38:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scenes](
	[id] [int] IDENTITY(100,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[date_create] [datetime] NOT NULL,
 CONSTRAINT [PK_scenes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[typefigure]    Script Date: 27.03.2023 3:38:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[typefigure](
	[id] [int] IDENTITY(100,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_typefirures] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[figures] ADD  CONSTRAINT [DF_figures_color]  DEFAULT (N'sdvf') FOR [color]
GO
ALTER TABLE [dbo].[figures] ADD  CONSTRAINT [DF_figures_wdvalue]  DEFAULT ((0)) FOR [wdvalue]
GO
ALTER TABLE [dbo].[figures] ADD  CONSTRAINT [DF_figures_height]  DEFAULT ((0)) FOR [height]
GO
ALTER TABLE [dbo].[figures] ADD  CONSTRAINT [DF_figures_details]  DEFAULT ((0)) FOR [details]
GO
ALTER TABLE [dbo].[scenes] ADD  CONSTRAINT [DF_scenes_date_create]  DEFAULT (getdate()) FOR [date_create]
GO
ALTER TABLE [dbo].[figures]  WITH CHECK ADD  CONSTRAINT [FK_figures_scenes] FOREIGN KEY([scene_id])
REFERENCES [dbo].[scenes] ([id])
GO
ALTER TABLE [dbo].[figures] CHECK CONSTRAINT [FK_figures_scenes]
GO
ALTER TABLE [dbo].[figures]  WITH CHECK ADD  CONSTRAINT [FK_figures_typefigure] FOREIGN KEY([typefigure_id])
REFERENCES [dbo].[typefigure] ([id])
GO
ALTER TABLE [dbo].[figures] CHECK CONSTRAINT [FK_figures_typefigure]
GO
ALTER TABLE [dbo].[scenes]  WITH CHECK ADD  CONSTRAINT [FK_scenes_scenes] FOREIGN KEY([id])
REFERENCES [dbo].[scenes] ([id])
GO
ALTER TABLE [dbo].[scenes] CHECK CONSTRAINT [FK_scenes_scenes]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'figures', @level2type=N'CONSTRAINT',@level2name=N'FK_figures_scenes'
GO
USE [master]
GO
